.body {
    padding: 0;
    background-color: rgb(256,256,256);
}

.company-description {
    background-color: rgb(45, 44, 43);
    color: rgb(173, 162, 137);
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.company-description i {
    background-color: rgb(240, 178, 43);
    border-radius: 20px;
    width: 15px;
    height: 15px;
    color: white;
}

.company-description a {
    color: rgb(250, 255, 255);
}

.contact-info {
    display: flex;
    gap: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
}

.email-info
 { display:flex;
    gap: 3% ;
    margin-top: 2%;
    margin-left: 20%;
}

.email span,
.phone-no span {
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.email p,.phone-no p{
    color:rgb(125,123,125);
}
.email-info i,.line-info i{
    color: rgb(81,123,192);
    font-size: x-large;
}
.line-info{
    display: flex;
    gap: 4%;
    margin-left: 75%;
    margin-top: -4%;
}
.nav-menu {
    display: flex;
     gap: 75px;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
    justify-content: center;
}
.nav-menu li a span{
    color: rgb(240,178,56);
}
.nav-menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    color: rgb(124,122,120);
}

.brand-voice {
    justify-content: space-between;
    color: rgb(255, 255, 255);
    filter: brightness(0.8);
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 20px;

}

.backgroundimage {
    object-fit: cover;
    width: 100%;
    position: relative;
    height: 790px;
}

.voice-content img{

}
.brand-voice p{
    color:rgb(255,255,255);
    font-size: large;
    font-weight: 500;
    margin-left: 40%;
    margin-top: -30%;
    position: absolute;
}
.brand-voice h1{
    font-size: 100px;
    font-weight: 40px;
     margin-right: 30%;
     position: absolute;
     margin-left: 30%;
     margin-top: -28%;
}
.brand-voice button{
    margin-top: -12%;
    position: absolute;
    margin-left: 41%;
    background-color: rgb(240,178,43);
    color: white;
    border: none;
    width: 10%;
    height: 8%;
    font-size: larger;
}

.left-caret {
font-size: xx-large;
position: absolute;
margin-left: 90%;
margin-top: -20%;
    
}
.right-caret{
    font-size:30px;
     margin-left: 8%;
     margin-top: -2%;

    
}




.about {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.about-title p {
    color: rgb(240, 178, 43);
    text-decoration: underline;
}

.about-title h1 {
    font-size: 50px;
    margin-bottom: 20%;
}

.about-description {
    margin-right: 25%;
}

.shape-container{
    position: absolute;
    height: 50%;
    width: 25%;
    border: 10px solid blue;
    bottom: -80%;
    left: 48%;

    

}

.about-origin {
    margin-top: 60px;
}

.about-origin span {
    color: rgb(240, 178, 43);
    text-decoration: underline;

}

.about-origin h1 {
    font-weight: bold;
    font-size: xx-large;
}

.about-paragraph {
    margin-top: -100px;
    margin-left: 40%;
    font-size: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-bottom: 10%;
}
    

.service-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-heading p{
    color: rgb(240, 178, 43);
    text-decoration: underline;
}
.service-heading h1{
    font-size: xx-large;
    font-weight: bolder;
}
.services-section{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 2%;
}
.services{
    background-color: rgb(255, 255, 255);
     height: 520px;
     width: 290px;
     justify-items: center;
     color: rgb(147,131,121);
}
.services-storage{
    height: 520px;
    width: 290px;
    background-color: rgb(70,113,192);
    justify-items: center;
    color: white;

}
.services span{
    color: black;
    font-size: x-large;
    font-weight: bold;
}
.services a{
    text-decoration: none;
    color: rgb(240, 178, 43);
}
.services-storage span{
    color: white;
    font-size:x-large ;
}
.services-storage a{
    color: white;
    text-decoration: none;
}
.services-storage hr{
    width: 70%;
}
.client-section{
    display: flex;
    gap: 100px;
    margin-top: 90px;
}

.client-section h1{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 350px;
    
}
.client-section p{
margin-top: 30px;
margin-left: 40px;
}
.client-section img{
    width: 200px;
    height: 130px;
    position: relative;

}
.play-btn{
    background-color: rgb(240,178,43);
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: absolute;
    margin-left: 66%;
    margin-top: 2%; 
}

.brand-portfolio {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    gap: 8%;
}
.left-image img{
    background-color: rgb(70,113,192);
    padding: 0px 50px 180px 0px;
    position: relative;
}
.left-text{
    position: absolute;
    margin-left: 20px;
    margin-top: -39%;
    background-color:white;
    height: 25%;
    width: 20%;
    margin-left: 55px;
    align-items: center;
    
}
.left-text p{
    margin-left: 60px;
    font-size: 20px;
    margin-top: 30px;
}
.left-text a{
    color:rgb(240,178,43) ;
    margin-left: 60px;

}
.enquiries{
    position: absolute;
    color: white;
    margin-top: -8%;
    margin-left: 6%;
    font-size: larger;
}
.advert-intro{
    color:rgb(240,178,43) ;
    text-decoration: underline;
}
.right-text h1{
    font-size: xx-large;
    font-weight: bolder;
}
.advert{
    padding: 20px;
}
.advert i{
    background-color: rgb(240, 178, 43);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    color: white;

}
.reminder{
    display: flex;
    justify-content: center;
    font-size: large;
    margin-bottom: 8%;
}
.reminder a{
    color:rgb(240, 178, 43) ;
}

.vedio-section img{
    margin-top: -10%;
     object-fit: cover;
     width: 100%;
     position: relative;
     height: auto;
     object-position: top;
     clip-path: inset(10% 0 40% 0);
}

.btn {
    position: absolute;
    margin-left: -50%;
    margin-top: 15%;
    background-color:rgb(240, 178, 43);
    width: 10%;
    height: 20%;
    border-radius: 100px;
    border: none;
    color:white ;
    
}
.btn i{
    font-size: 50px;
}
.contact-form {
    display: flex;
    justify-content: space-between;
}
.booking{
    background-color: rgb(240,178,43);
    width: 40%;
    height: 450px;
    margin-top: -36%;
}
.booking

.testimonials {
    display: flex;
    justify-content: space-between;
}

.subscription-section {
    display: flex;
}

.articles-section {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}